@import "globals/reset";

body {
    padding: 20px;
    background: #545454;
    color: #fff;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
}

.mdl-card {
    margin: 10px;
    width: auto;
    min-width: 330px;
    flex: 1;
}